*{  
    margin: 0;                 
    padding: 0;
    box-sizing: border-box;
 }


body {
   
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    margin: 50vh 10vh;

}

.container {

    background-color: white;
    width: 50%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.lista {

    background-color: white;
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}